.slideshow {
  width: 100%;
  height: 80%;
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0;
  top: 10%;
  left: 0%;
  transition: background-image 0.2s ease-in-out;
  animation: slide 20s infinite linear;
}

@keyframes slide {
  0% {
    left: 60%;
  }
  100% {
    left: 0%;
  }
}

@media screen and (max-width: 576px) {
  .slideshow {
    display: none;
  }
}
