* {
  box-sizing: border-box;

  --main-bg-color: #eee;
  --main-color: #f0db4f;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  font-family: "Roboto Condensed", sans-serif;
  overflow: hidden;
}

body .main-layout {
  margin: auto;
  width: 100%;
  /* max-width: 1440px; */
  min-height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 170px 24px 100px 24px;
  z-index: 1;
  background: linear-gradient(
    90deg,
    rgba(240, 219, 64, 1) 60%,
    rgba(240, 219, 79, 0) 100%
  );
}

body .main-layout .main-layout-navbar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  padding: 0 24px;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--main-color);
}

body .main-layout .main-layout-navbar a {
  font-size: 1.5rem;
  margin-right: 24px;
  color: #323330;
  text-decoration: none;
}

body .main-layout .main-layout-navbar a:hover {
  text-decoration: underline;
}

body .main-layout .main-layout-navbar a:last-child {
  margin-right: 0;
}

body .main-layout .main-layout-content {
  width: 1000px;
  height: auto;
}

body .main-layout .main-layout-content img {
  width: 100%;
  height: auto;
}

body .main-layout .footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  padding: 0 24px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--main-color);
}

body .main-layout .footer .social-media {
  color: #323330;
  font-size: 36px;
  margin: 12px;
  transition: font-size 0.3s;
}

body .main-layout .footer .social-media:hover {
  font-size: 50px;
  transition: font-size 0.3s;
}

@media screen and (max-width: 1024px) {
  body .main-layout .main-layout-content {
    width: 700px;
  }
}

@media screen and (max-width: 768px) {
  body .main-layout .main-layout-content {
    width: 600px;
  }

  body .main-layout .footer {
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  body {
    overflow: auto;
  }

  body .main-layout .main-layout-content {
    width: 300px;
  }

  body .main-layout .main-layout-navbar {
    padding-top: 20px;
    flex-direction: column;
    top: 0px;
    right: 0;
    height: auto;
  }

  body .main-layout .main-layout-navbar a {
    margin-right: 0;
    margin-bottom: 12px;
  }

  body .main-layout .footer .social-media {
    font-size: 30px;
  }

  .slideshow {
    display: none;
  }
}

.slideshow {
  width: 100%;
  height: 80%;
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0;
  top: 10%;
  left: 50%;
}
